%h1 Listing of #{url_root}#{url_path}
.table-wrapper
  %table
    %thead
      %tr
        %th{sort_attrs(sort, "name")}
          %a{href: "#"} Name
        %th.new-tab
        %th.type{sort_attrs(sort, "type")}
          %a{href: "#"} Type
        %th.size{sort_attrs(sort, "size")}
          %a{href: "#"} Size
        %th.modified{sort_attrs(sort, "mtime")}
          %a{href: "#"} Modified
    %tbody
      - entries.each do |file|
        %tr
          %td
            %span.icon= file.icon
            %a.default{href: file.href, class: file.listing_classes, data: { type: file.media_type }}= file.name
          %td
            %a.new-tab{href: file.href, class: file.listing_classes, target: "_blank"} (New tab)
          %td= file.type
          %td= file.size.nil? ? "-" : number_to_human_size(file.size)
          %td= file.mtime.nil? ? "-" : file.mtime.strftime("%e %b %Y %l:%M %p")