%h1 Directory Listing of #{url_path}
%table
  %thead
    %tr
      %th Name
      %th Size
      %th Modified
  %tbody
    - unless url_path == "/"
      %tr
        %td
          (Dir)&nbsp;
          %a{href: "../"} ../
        %td
        %td
    - (directories + files).each do |file|
      - file = file.decorate
      %tr
        %td
          - if file.directory?
            (Dir)&nbsp;
          %a{href: file.basename, target: "_blank", **file.listing_attrs}
            - extname = file.extname
            - basename = file.basename(extname)
            #{basename.to_s.truncate(50)}#{extname}
        %td= number_to_human_size(file.size)
        %td= file.mtime.strftime("%e %b %Y %l:%M %p")