%h1 Listing of #{url_path}
%table
  %thead
    %tr
      %th Name
      %th.new-tab
      %th.type Type
      %th.size Size
      %th.modified Modified
  %tbody
    - (directories + files).each do |file|
      - file = file.decorate
      %tr
        %td
          - if file.directory?
            (Dir)&nbsp;
          %a.default{href: file.href, **file.listing_attrs}= file.name
        %td
          %a.new-tab{href: file.href, target: "_blank", **file.listing_attrs} (New tab)
        %td= file.type
        %td= file.directory? ? "-" : number_to_human_size(file.size)
        %td= file.mtime.strftime("%e %b %Y %l:%M %p")