!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Listing of #{url_root}#{url_path}
    %meta{name: 'viewport', content: 'width=device-width, height=device-height, user-scalable=no'}
    :css
      #{include('css/normalize.css')}
      #{include('css/common.css')}
      #{include('css/index.css')}
      #{include('css/listing.css')}
      #{include('css/gallery.css')}
      #{include('css/gallery-text.css')}

    :javascript
      #{include('js/ume.js')}
      #{include('js/gallery.js')}
  %body
    - if files.any? { |f| f.media? }
      #gallery!= partial('gallery')
    #listing!= partial('listing', { url_root: url_root, url_path: url_path, directories: directories, files: files })