!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Directory Listing of #{url_path}
    :css
      #{include('normalize.css')}
      #{include('common.css')}
      #{include('index.css')}
      #{include('listing.css')}
      #{include('gallery.css')}

    :javascript
      #{include('gallery.js')}
  %body
    - if show_gallery
      #gallery!= partial('gallery')
    #listing!= partial('listing', { url_path: url_path, fs_path: fs_path, directories: directories, files: files })