!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Gallery for #{url_path}
    :css
      #{include('normalize.css')}
      #{include('common.css')}
      #{include('gallery.css')}

    :javascript
      var imagePaths = #{image_paths.map { |file| file.relative_path_from(fs_path).to_s }.to_json};
      #{include('gallery.js')}

  %body
    #container
      %img#image
      #page-back.paginator ◀
      #page-next.paginator ▶
      #page-back-10.paginator ◀◀
      #page-next-10.paginator ▶▶
